In [58]:
import numpy as np
import pandas as pd
data = pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [59]:
t_data = pd.read_csv("test.csv")
t_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [60]:
women = data.loc[data.Sex == 'female']["Survived"]
women
rate_women = sum(women)/len(women)
rate_women*100
men = data.loc[data.Sex == 'male']["Survived"]
men 
rate_men = sum(men)/len(men)
rate_men

0.18890814558058924

In [61]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
x = data["Survived"]
x

features = ["Pclass", "Sex", "SibSp", "Parch"]
y = pd.get_dummies(data[features])
y_test = pd.get_dummies(t_data[features])


model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1405)
model.fit(y,x)
predictions = model.predict(y_test)
predictions
pred = np.where((predictions.any()==1,'yes') and  (predictions.any()==0,'No'))

result = pd.DataFrame({'passenger': t_data.PassengerId,'name' : t_data.Name, 'Survived':pred})
result

ValueError: array length 1 does not match index length 418